XXX THIS IS NOT USED: see string literal in bill-handler.js

Dear {{name}},

These bills are due as a house:

                Received    Amount
{{#bills}}
{{output}}
{{/bills}}
__________________________________
{{total}}
{{shareTotal}}

The bills were split {{numSharers}} ways.

Please pay via paypal to hhamilto@mtu.edu
